.App {
  text-align: center;
}

.Registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
